/*Fuente para main*/
body{
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
}

/*Propiedades del header*/
header{
    background-color: rgba(0, 0, 0, 0.8);
    height: 48px;
}

/*Propiedades del footer: Color, Tamaño*/
footer{
    background-color: rgb(245, 245, 247);
    height: 100px;
    padding-left: 100px;
    padding-top: 20px;
}

/*Texto del footer*/
.footer-text{
    display: inline-block;
    color: rgb(81, 81, 84);
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

/*Texto del footer con transparencia*/
#footer-text-claro{
    color: rgba(81, 81, 84, 0.7);
    margin-bottom: 10px;
}

/*Contenedor para el header*/
.header-container{
    text-align: center;
}

/*Contenedor de cada item dentro del header*/
.header-item{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

/*Contenedor para imágenes dentro del header*/
.header-image{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 3px;
    height: 44px;
    width: 16px;
}

/*Contenedor de cada item de TEXTO dentro del header: */
.header-text{
    color: seashell;
}

/*Tipologías de Texto dentro de body*/
p{
    text-align: center;
    color: rgb(19, 19, 31);
}
h1{
    text-align: center;
    font-size: 64px;
    color: rgb(19, 19, 31);
    margin: 0;
}
h2{
    text-align: center;
    font-size: 50px;
    color: rgb(19, 19, 31);
    margin: 0 50px;
}
h4{
    text-align: center;
    font-size: 25px;
    color: rgb(19, 19, 31);
    margin: 0;
}
a{
    text-decoration: none;
    color: rgb(0, 113, 227);

}
#a-footer{
    color: rgb(81, 81, 84);
}

#note-orange{
    color: rgb(255, 165, 0);
}
#p-bold{
    font-weight: 700;
}

/*Contenedor genérico centrado*/
.box{
    text-align: center;
    padding: 20px;
}

/*Contenedor para cuadros grises*/
.box-contenedor{
    margin: 0 auto;
}

/*Contenedor para imágenes en cuadros grises*/
.box-grey-image{
    width: 500px;
    margin: 0;
    vertical-align: bottom;
}

/*Contenedor gris*/
.box-grey{
    height: 600px;
    width: 500px;
    background-color: rgb(245, 242, 242);
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    padding-top: 50px;
}